main {
    padding: 20px;
}

#about-us {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#about-us h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#about-us p {
    margin-bottom: 20px;
    color: #555;
}

.about-content h2 {
    font-size: 2em;
    margin-top: 20px;
    color: #007BFF;
}

.about-content p {
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.8;
}

.about-content ul {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

.about-content ul li {
    margin-bottom: 10px;
}

.about-content a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.about-content a:hover {
    color: #0056b3;
}